serviceAccounts:
  rest:
    create: true
    name:
  ui:
    create: true
    name:

rest:
  enabled: true
  replicaCount: 1
  image:
    #Set the repository value below to your own
    repository: DOCKER_USERNAME/GAAS-REST-IMAGE_NAME
    pullPolicy: Always
    tag: latest
    containerPort: 8081
  imagePullSecrets: [ ]
  service:
    type: ClusterIP
    port: 8081
    targetPort: 8081
  controller:
    applicationProperties:
      worker.image:  DOCKER_USERNAME/gaffer-worker
      worker.imagePullPolicy: Always
  worker:
    serviceAccount:
      create: true
      name: gaffer-workers

  namespace: kai-dev

ui:
  enabled: true
  replicaCount: 1
  image:
    #Ask about repository setting
    repository: DOCKER_USERNAME/GAAS-UI-IMAGE_NAME
    pullPolicy: Always
    # Overrides the image tag whose default is the chart appVersion.
    tag: 'latest'
    containerPort: 8081

  imagePullSecrets: [ ]
  nameOverride: ''
  fullnameOverride: ''

  service:
    type: ClusterIP
    port: 8081
    targetPort: 8081
  namespace: ''
  ingressSuffix: ''
  envConfigFile: "env-config.js"

  envVariables:
    reactAPIPlatform: ""
    kaiRestAPIHost: "https://[HELM_INSTALL_NAME]-gaas-rest-[NAMESPACE].[INGRESS]"
    cognitoUserpoolID: ""
    cognitoClientID: ""
    reactAuthEndpoint: "https://[HELM_INSTALL_NAME]-gaas-rest-[NAMESPACE].[INGRESS]"
    reactCognitoScope: "&scope=aws.cognito.signin.user.admin+email+openid+phone+profile+gaas-rest-resource/graphs"
    reactCognitoRedirectURI: ""